# Always Hidden
__pycache__
venv
sample_buffer.db
measurement_buffer.db

# Folders
.github/
.vscode/
#clients/
# display/
logs/
network/
#sensors/
tests/

# Files
# todo.md
.env
setup.sh
requirements.txt
test_display.py