# Always Hidden
__pycache__
venv
measurement_buffer.db
.pytest_cache

# Folders
.github/
#.vscode/
#clients/
# display/
logs/
network/
#sensors/
#tests/

# Files
todo.md
#.env
setup.sh
requirements.txt
# test_display.py