# Always Hidden
__pycache__
venv
measurement_buffer.db
.pytest_cache

# Folders
# .github/
.vscode/
# clients/
# display/
# logs/
#sensors/
#tests/

# Files
logs/zero-thermometer.log
todo.md
.env
# setup.sh
# requirements.txt
test_display.py
my_screen.png